.home-banner {
  background-color: #f8f9fa;
  max-width: 1400px;
  align-items: center;
  padding: 0 auto;
  margin: 0 auto;
  margin-bottom: 30px;
  border-bottom: 2px solid #eee;
}

.home-banner > img {
  width: 100%;
}